* {
  margin: 0px;
  padding: 0px;
 
  font-family: monospace;
}
body {
  @apply bg-gray-950 text-white;
}

.navbar {
  @apply  flex-row mt-4   h-16  w-full items-center hidden ;
  @apply md:flex  ;
  .navbar-logo {
    @apply   md:w-[30%] md:justify-center md:flex md:items-center block ;
      img {
        @apply h-12 w-12 rounded-full ;
      
    }
  }
  .navbar-menu {
          @apply   w-[80%] z-50;
    ul {
      @apply font-bold text-lg flex flex-row items-center space-x-20 ml-10 ;
      li {
        @apply cursor-pointer hover:border-0 rounded-lg p-2 hover:bg-gray-950 fill-transparent   hover:border-white ;
      }
    }
  }
}

.header{
  @apply h-fit w-full flex flex-col; 
  @apply md:flex-row md:relative md:justify-between md:mt-4 md:items-center;
 .header-img{
  @apply h-auto w-full  flex  relative ;
  @apply  md:justify-evenly  ;
  img{
    @apply relative h-auto w-full  ;
    @apply md:h-[600px] md:w-[600px] ;
  }
  .imgShadow{
      @apply h-[100%] w-[100%]  absolute  z-10 bg-gradient-to-t   from-gray-950 to-transparent ;
      @apply  md:h-[600px] md:w-[600px] md:from-5% md:to-transparent md:bg-gradient-to-r md:from-gray-950 ;
      
    }
 }
 .header-title{
  
  @apply h-auto w-full  justify-center  items-center absolute  z-20 flex flex-col top-80  ;
  @apply md:justify-evenly md:relative md:pt-0 md:top-0;
  h1{
    @apply font-bold cursor-text text-4xl;
    @apply md:text-6xl  ;
  }
  p{
    @apply text-lg cursor-text text-left ml-5 mt-3 border-l-4 pl-2 border-[#E317FE];
  }
 }

 .social-media{
  @apply relative w-full h-auto  hidden md:block top-24 left-24  ;
  
  ul{
    @apply flex flex-row flex-wrap space-x-12 w-fit;
    li{
      @apply cursor-pointer md:hover:bg-orange-400 h-12 w-12  p-2  rounded-lg bg-[#F71850];
      
    }
  }
 }
}

.card{
  @apply transition-colors delay-150 duration-500 ease-in origin-center;
}